 * {
    margin: 0;
    padding: 0;
}

/* Navigation */

.navbar {
    width: 80%;
    margin: 0 auto;
}

.navbar-nav {
    margin: 0 auto;
}

ul.navbar-nav {
   margin-right: 10px;
}

hr {
    width: 80%;
    margin: auto;
}

h2.title {
    color: #7A8B8B;
}

#second-line {
    width: 45%;
    margin: auto;
}


.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
    color: #7A8B8B;
}


/*  MODAL  */
.modal-header {
    background: #F0F8FF;
    border-bottom: 1px solid black;
}

.modal-title {
    margin-left: 1rem;
}

.modal-details {
    margin-top: 1rem;
    padding: 2px 2px 2px 0;
}

.modal-text {
    margin-top: 1rem;
}


.fa-shopping-cart {
    margin-right: 5px;
}

.modal-footer {
    background: #F0F8FF;
}
/* modal ends */


/* space between the first and the second row */
#second-row {
    margin-top: 50px;
}

.footer-content {
    text-align: justify;
}


ul.list-unstyled li a {
    text-decoration: none;
    color: #000;
}

ul.list-unstyled li a:hover {
    color: #B0C4DE;
}

h5.mb-4 {
    color: #A2B5CD;
}

footer {
    margin: 40px auto 0 auto;

}


/* MEDIA QUERIES */

@media (max-width: 768px) {
   .navbar {
       width: 100%;
   }

   hr.my-5 {
       display: none;
   }

   div.container {
       margin-top: 40px;
   }
}


@media (max-width: 1000px) {
    .navbar {
        width: 100%;
    }
 
    hr.my-5 {
        display: none;
    }
 
    div.container {
        margin-top: 40px;
    }
    div.first-row {
        display: inline-block;
    }
    div.second-row {
        display: inline-block;
    }
    .card {
        margin-bottom: 20px;
    }
    
 }